div {
  border-width: 1px;
  border-color: red;
}

.hidden {
  visibility: hidden;
}

#creaturesPanel {
  position: relative;
}
#exploreSummary {
  position: absolute;
  bottom: 10px;
}

.flashit {
  color: black;
  -webkit-animation: flash linear 1s infinite;
  animation: flash linear 1s infinite;
}
@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
